#book-details {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 50em;
    width: 50em;
    display: flex;
    margin-top: 5em;
    border: transparent;
    border-radius: 2em;
    background-color: #fdfeff;
    box-shadow: 5px 5px 8px #adadad;
    align-items: center;
    justify-content: start;
    flex-direction: column;

}

.row-container {
    margin: 2em 2em 0 2em;
    width: 90%;
    display: flex;
}

.book-cover {
    max-height: 25em;
    border-radius: 1em;
}

.author {
    margin-top: 0.5em;
    font-weight: normal;
}

.author em {
    color: #545454;
    font-weight: normal;
    font-size: 0.8em;
    font-style: normal;
}

.author a {
    text-decoration: none;
    color: black;
}

.info-container {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

.description {
    padding: 0.5em 0 0.5em 0;
    font-style: italic;
    border-top: 1px solid gray;
}

.buttons {
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 2em;
}

.action-buttons {
    font-size: 1em;
    width: 6em;
    padding: 0.5em 0;
    border-radius: 10em;
    border: transparent;
    background-color: #cfcfcf;
    cursor: pointer;
}

.button-edit:hover {
    background-color: #52cb70;
    color: white;
}

.button-delete:hover{
    background-color: #df6d6d;
    color:white;
}